body {
    margin: 0;
    background-color:#1E1F22;
    /* background-image: url("./images/img-laptop.jpg"); */
    position: relative;
}

.laptop-img {
    position: absolute;
    top: 120px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.nav-container{
    display: flex;
    margin: 2rem;
    gap: 20vw;
    background-color:#EBE7D9;
    justify-content: center;
    position: relative;
    top: 5px;
   
  
    
}


.logo {

    width: 300px;
    background-size: contain;
}

.nav {
    display: flex;
    gap: 10vw;
}

a {
    color: #1E1F22 ;
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
}

a:hover {
    text-decoration: underline;
}

.laptop-img {
    width: 100%;
    height: 75%;
    background-size: contain;
    background-attachment: fixed;
    
    
}